<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.plot.ly/plotly-2.17.1.min.js"></script>


<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <a class="text-white">Fitness Tracker</a>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a href="/dashboard"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="/workout" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                                aria-current="page">Workout History</a>

                            <a href="/progress"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Progress</a>

                        </div>
                    </div>
                </div>
                <div class="ml-4 flex items-center md:ml-6">

                    <!-- Profile dropdown -->
                    <div class="relative ml-3">
                        <div>
                            <a href="/api/users/logout" class="block px-4 py-2 text-sm text-gray-300">Log out</a>
                        </div>
                    </div>
                </div>

    </nav>

    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Workout History</h1>
        </div>
    </header>

    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 flex items-center justify-between">
        <!-- Replace with your content -->



        <!-- component -->
        <div class="w-full overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
            <table id="workoutList" class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Date</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Workout Time</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Type</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Description</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Calories</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Weight</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Sets</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Reps</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                    {{#if workouts.length}}
                    {{#each workouts as |workout|}}
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4">{{workout.date}}</td>
                        <td class="px-6 py-4">{{workout.workout_time}}</td>
                        <td class="px-6 py-4">{{workout.type}}</td>
                        <td class="px-6 py-4">{{workout.description}}</td>
                        <td class="px-6 py-4">{{workout.calories}}</td>
                        <td class="px-6 py-4">{{workout.weight}}</td>
                        <td class="px-6 py-4">{{workout.sets}}</td>
                        <td class="px-6 py-4">{{workout.reps}}</td>
                        <td class="px-6 py-4">
                            <div class="flex justify-end gap-4">
                                <a data-id="{{workout.id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>




    </div>
    <!-- /End replace -->
</div>
</div>
</main>
</div>

<script src="/js/dashboard.js"></script>